---
version: 2.0

jobs:
  build:
    docker:
      - image: fpco/stack-build:lts-11.11
    steps:
      - checkout
      - restore_cache:
          keys:
            - stack-{{ .Branch }}-{{ checksum "stack.yaml" }}
            - stack-{{ .Branch }}
            - stack-
      - run:
          name: Setup
          command: stack setup
      - run:
          name: Dependencies
          command: stack build -j2 --dependencies-only
      - save_cache:
          key: stack-{{ .Branch }}-{{ checksum "stack.yaml" }}
          paths:
            - ~/.stack
            - ./.stack-work
      - run:
          name: Build
          command: stack build --pedantic
      - run:
          name: Generate
          command: stack exec filib-io build
      - run:
          name: Publish
          working_directory: "./_site"
          command: |
            # init
            git init
            git config user.name  "CircleCI"
            git config user.email "job@circleci.com"
            # add
            git add .
            git commit -m "publish $CIRCLE_SHA1 [ci skip]"
            # push
            git remote add origin "$CIRCLE_REPOSITORY_URL"
            git push --force origin master
