---
version: 2.0

jobs:
  build:
    branches:
      only:
        - develop
    docker:
      - image: fpco/stack-build:lts-11.11
    steps:
      - checkout
      - run:
          name: Install xvfb
          command: |
            sudo apt-get install -y apt-transport-https ca-certificates          
            sudo apt-get update
            sudo apt-get install -y xvfb
      - run:
          name: Run xvfb
          command: Xvfb -ac :99 -screen 0 1280x1024x16 +extension RANDR > /dev/null 2>&1
          background: true
      - run:
          name: Build CV
          command: |
            export DISPLAY=:99
            sudo apt-get install -y wkhtmltopdf

            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            nvm install v8.9.4
            npm install hackmyresume -g
            git clone https://github.com/mcfilib/jsonresume-theme-eloquent.git
            cd jsonresume-theme-eloquent
            npm install
            npm run-script build
            cd ..

            hackmyresume build resume.json TO resume.html resume.pdf --theme ./jsonresume-theme-eloquent
      - restore_cache:
          keys:
            - stack-{{ .Branch }}-{{ checksum "stack.yaml" }}
            - stack-{{ .Branch }}
            - stack-
      - run:
          name: Setup
          command: stack setup
      - run:
          name: Dependencies
          command: stack build -j2 --dependencies-only
      - save_cache:
          key: stack-{{ .Branch }}-{{ checksum "stack.yaml" }}
          paths:
            - ~/.stack
            - ./.stack-work
      - run:
          name: Build
          command: stack build
      - run:
          name: Generate
          command: stack exec filib-io build
      - run:
          name: Publish
          working_directory: "./_site"
          command: |
            git init
            git config user.name  "CircleCI"
            git config user.email "job@circleci.com"
            git add .
            git commit -m "publish $CIRCLE_SHA1 [ci skip]"
            git push --force https://${GITHUB_ACCESS_TOKEN}@github.com/mcfilib/mcfilib.github.io.git master
